#### 1. Write a function that calculates the dot product manually AND a function that calculates the cross product manually. Both should accept two vectors and perform that calculation. Be sure to use try except and error handling for basic issues that might occur.

In [1]:
#define function to calculate dot product
def dot(a,b):
    
    #variable will be updated
    results = 0
    
    try:
    #create for loop
        for i in range(len(a)) and range(len(b)):
            results = results + (a[i] * b[i])
            
    #create exception for index error
    except IndexError:
        return 'Arrays must be of the same shape'
    
    #create exception for type error
    except TypeError:
        return 'Arrays must contain only numbers'
    
    #create exception for any remaining errors
    except Exception as e:
        return e
    
    #if no exceptions return the results
    else:
        return results

In [2]:
a = [3.6,4.8, 5.2]
b = [4,5,6]

dot(a,b)

69.6

#### 2. In a markdown section in your notebook, explain what one hot encoding is and why we use it. Then, manually calculate a one hot encoding for the Belize_Airbnb_listings.csv neighborhood_group column. Note: manually means donâ€™t use scikitlearn or keras.

one hot encoding converts categorical data into numerical data which is important for machine learning and certain types of data manipulation.

In [3]:
import pandas as pd
import numpy as np
from numpy import argmax

belize_df = pd.read_csv("belize_airbnb_listings.csv")

In [4]:
belize_df.head(1)

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,36666,Mo's Cozy Casa w/ veranda & access to dock,157752,Monique,Belize,Belize Islands,17.74786,-88.02398,Entire home/apt,141,3,250,2/23/2021,2.0,5,225

In [5]:
#get unique values from column 
#iterate through list and create new column for each column
#one way, new column for each neighborhood
#convert list to series and append to list
#another way, one column with an array

In [22]:
#find unique neighborhoods in data set
groups = belize_df['neighbourhood_group'].unique()
print(groups)
group_series = belize_df['neighbourhood_group']

#map each neighborhood group to an integer
group_to_int = dict((g, i) for i, g in enumerate(groups))
int_to_group = dict((i, g) for i, g in enumerate(groups))

# integer encode input data
integer_encoded = [group_to_int[data] for data in group_series]

# one hot encode, for each value in the integer_encoded list
onehot_encoded = list()
for value in integer_encoded:
    
    #create a matrix for each neighborhood group (6)
    neighborhood = [0 for _ in range(len(groups))]
    neighborhood[value] = 1
    onehot_encoded.append(neighborhood)

# invert encoding
inverted = int_to_group[argmax(onehot_encoded[0])]
print(inverted)

#convert encoded list into a series
encoded_series = pd.Series(onehot_encoded)

#merge encoded series onto original df as new column
belize_df2 = pd.concat([belize_df, encoded_series], axis="columns")
belize_df2.head(5)

['Belize' 'Stann Creek' 'Toledo' 'Cayo' 'Corozal' 'Orange Walk']
Belize

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,0
0,36666,Mo's Cozy Casa w/ veranda & access to dock,157752,Monique,Belize,Belize Islands,17.74786,-88.02398,Entire home/apt,141,3,250,2/23/2021,2.00,5,225,"[1, 0, 0, 0, 0, 0]"
1,36690,Mo's Cozy Cabana w/ comfy veranda & access to ...,157752,Monique,Belize,Belize Islands,17.74832,-88.02474,Entire home/apt,71,3,316,2/19/2021,2.46,5,164,"[1, 0, 0, 0, 0, 0]"
2,108932,Purple House eco solar w/ ocean & wildlife views,563377,Michael,Belize,Belize Islands,17.73221,-88.03824,Entire home/apt,191,2,30,3/14/2020,0.78,1,364,"[1, 0, 0, 0, 0, 0]"
3,110483,Michelo's fuchsia suite,567809,Michel,Stann Creek,Stann Creek Mainland,16.52114,-88.36926,Hotel room,121,1,27,2/24/2020,0.29,3,331,"[0, 1, 0, 0, 0, 0]"
4,120115,Seaside Villas Second Floor Unit #4,604999,Bobbi,Belize,Belize Islands,17.74166,-88.02395,Entire home/apt,343,1,30,3/18/2020,0.64,22,203,"[1, 0, 0, 0, 0, 0]"

#example from https://machinelearningmastery.com/how-to-one-hot-encode-sequence-data-in-python/

from numpy import argmax
# define input string
data = 'hello world'
print(data)

# define universe of possible input values
alphabet = 'abcdefghijklmnopqrstuvwxyz '

# define a mapping of chars to integers
char_to_int = dict((c, i) for i, c in enumerate(alphabet))
int_to_char = dict((i, c) for i, c in enumerate(alphabet))

# integer encode input data
integer_encoded = [char_to_int[char] for char in data]
print(integer_encoded)

# one hot encode
onehot_encoded = list()
for value in integer_encoded:
	letter = [0 for _ in range(len(alphabet))]
	letter[value] = 1
	onehot_encoded.append(letter)
print(onehot_encoded)

# invert encoding
inverted = int_to_char[argmax(onehot_encoded[0])]
print(inverted)

Using a function:
dummies = pd.get_dummies(belize_df.neighbourhood_group)